<%inherit file="base.html"/>

<%block name="content">
<div class="page-content" id="background">
    <div class="bk-panel mb20">
        <ul class="col-md-12">
            <li><span>姓名:</span><span>${student['name']}</span></li>
            <li><span>学号:</span><span>${student['sn']}</span></li>
            <li><span>班级:</span><span>${student['class_name']}</span></li>
            <li><span>专业:</span><span>${student['profession_name']}</span></li>
            <li><span>宿舍:</span><span>${student['dorm_sn']}</span></li>
            <li><span>性别:</span><span>${student['sex']}</span></li>
            <li><span>生日:</span><span>${student['name']}</span></li>
            <li><span>身份证:</span><span>${student['id_card']}</span></li>
            <li><span>政治面貌:</span><span>${student['politics']}</span></li>
            <li><span>籍贯:</span><span>${student['hometown']}</span></li>
            <li><span>国家:</span><span>${student['country']}</span></li>
            <li><span>民族:</span><span>${student['country']}</span></li>
            <li><span>电话:</span><span>${student['phone']}</span></li>
            <li><span>家庭住址:</span><span>${student['address']}</span></li>
            <li><span>父亲电话:</span><span>${student['father_phone']}</span></li>
            <li><span>母亲电话:</span><span>${student['mother_phone']}</span></li>
            <li><span>QQ:</span><span>${student['qq']}</span></li>
            <li><span>Email:</span><span>${student['email']}</span></li>
            %for activity_name in student['activities']:
            <li><span/>活动:<span>${activity_name}</span> </li>
            %endfor
        </ul>
        <form class="form-horizontal">
            <div class="form-group">
                <input type="reset" class="king-btn king-default" onclick="backToStudentList()"
                       value="取消"/>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function backToStudentList() {
        window.location.href = site_url
    }
</script>
</%block>