<%inherit file="base.html"/>

<%block name="content">
<div class="page-content">
    <div class="king-page-topbar pl20 pr20">
        <ul class="breadcrumb king-breadcrumb pl0 bg-transparent">
            <li>学生管理</li>
            <li class="active">基本信息</li>
        </ul>
    </div>
    <div class="bk-panel mb20">
        <div class="bk-panel-body p25">
            <div class="row">
                <div class="king-block-content">
                    <form class="form-inline ml10">
                        <div class="form-group mr5">
                            <label for="exampleInputName2">姓名：</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入用户名">
                        </div>
                        <div class="form-group mr5">
                            <label for="exampleInputEmail2">学号：</label>
                            <input type="email" class="form-control" id="sn" placeholder="请输入学号">
                        </div>
                        <div class="form-group mr5">
                            <label for="exampleInputEmail2">班级：</label>
                            <select name="" id="class_id" class="form-control" style="width: 100px">
                                <option class="form-control" value="">全部</option>
                                %for classInfo in classes:
                                <option class="form-control" value="${classInfo['id']}">${classInfo['sn']}</option>
                                %endfor
                            </select>
                        </div>
                        <div class="form-group mr5">
                            <label for="exampleInputEmail2">专业：</label>
                            <select name="" id="profession_id" class="form-control" style="width: 100px">
                                <option class="form-control" value="">全部</option>
                                %for profession in professions:
                                <option value="${profession['id']}">${profession['name']}</option>
                                %endfor
                            </select>
                        </div>
                        <div class="form-group mr5">
                            <label for="exampleInputEmail2">性别：</label>
                            <select name="" id="sex" class="form-control" style="width: 100px">
                                <option class="form-control" value="">全部</option>
                                <option value="man">男</option>
                                <option value="woman">女</option>
                            </select>
                        </div>

                        <button type="button" class="king-btn king-info" id="search">查询</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt10 ml10">
            <button type="button" class="king-btn king-info ml10" onclick="studentAdd()">添加</button>
        </div>
        <div class="king-block king-block-bordered">
            <div class="king-block-content">
                <table id="table2_demo1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>性别</th>
                        <th>专业</th>
                        <th>班级</th>
                        <th>电话</th>
                        <th>宿舍</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var language = {
            search: '搜索：',
            lengthMenu: "每页显示 _MENU_ 记录",
            zeroRecords: "没找到相应的数据！",
            info: "分页 _PAGE_ / _PAGES_",
            infoEmpty: "暂无数据！",
            infoFiltered: "(从 _MAX_ 条数据中搜索)",
            paginate: {
                first: '首页',
                last: '尾页',
                previous: '上一页',
                next: '下一页',
            }
        }
        $('#table2_demo1').dataTable({
            paging: true, //隐藏分页
            ordering: false, //关闭排序
            info: false, //隐藏左下角分页信息
            searching: false, //关闭搜索
            pageLength: 5, //每页显示几条数据
            lengthChange: false, //不允许用户改变表格每页显示的记录数
            language: language, //汉化
            ajax: {
                url: site_url + 'student/',
                type: 'POST',
                data: function (d) {
                    d.name = $("#name").val();
                    d.sn = $("#sn").val();
                    d.classInfo = $("#class_id").val();
                    d.profession = $("#profession_id").val();
                    d.sex = $("#sex").val()
                },
                dataSrc: function (res) {
                    return JSON.parse(res.message);
                },
            },
            columns: [
                {
                    data: "name",
                    render: function (data, type, row) {
                        return "<a href='javascript:void(0); onclick=showDetail(" + row['id'] + ")'>" + row['name'] + "</a>"
                    }
                },
                {
                    data: "sn"
                },
                {
                    data: 'sex'
                },
                {
                    data: "profession_name"
                },
                {
                    data: "class_name"
                },
                {
                    data: "phone"
                },
                {
                    data: "dorm_sn"
                },
                {
                    data: "id",
                    render: function (data, type, row) {
                        return "<a href='javascript:void(0)'; onclick=editStudentInfo('" + data + "')>编辑</a> | <a href='javascript:void(0)'; onclick=deleteStudentInfo('" + data + "')>删除</a>"

                    }
                }
            ]
        });

        $("#search").on('click', function () {
            console.log("????")
            $("#table2_demo1").DataTable().ajax.reload();
        });
    });

    function showDetail(id) {
    }

    function editStudentInfo(id) {

    }

    function studentAdd() {
        window.location.href = site_url + "student/add/";
    }

    function deleteStudentInfo(id) {
        if (window.confirm("确定删除学生信息")) {
            $.ajax({
                url: site_url + 'student/delete/',
                type: "POST",
                data: {
                    "id": id
                },
                success: function (res) {
                    window.location.reload()
                }
            })
        }
    }
</script>
</%block>
