<%inherit file="base.html"/>

<%block name="content">
<div class="page-content">
    <div class="king-page-topbar pl20 pr20">
        <ul class="breadcrumb king-breadcrumb pl0 bg-transparent">
            <li>学生管理</li>
            <li>基本信息</li>
            <li class="active">学生添加</li>
        </ul>
    </div>
    <div class="bk-panel mb20">
        <div class="row">
            <div class="col-sm-12">
                <div class="king-block king-block-bordered">
                    <div class="king-block-header king-gray-light">
                        <h3 class="king-block-title">添加学生信息</h3>
                    </div>
                    <div class="king-block-content">
                        <form class="form-horizontal" method="POST">
                            <div class="form-group">
                                <label for="inputCount3" class="col-sm-3 control-label">姓名：</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="name"
                                           placeholder="输入学生姓名" value="${student_info.get('name')}" }>
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label for="inputCount3" class="col-sm-3 control-label">学号：</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="sn"
                                           placeholder="输入学生学号" value="${student_info.get('sn')}" }>
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">性别：</label>
                                <div class="col-sm-7">
                                    <select name="" id="sex" class="form-control">
                                        %if student_info.get('sex') == "man":
                                        <option value="man" selected>男</option>
                                        <option value="woman">女</option>
                                        %else:
                                        <option value="man">男</option>
                                        <option value="woman" selected>女</option>
                                        %endif
                                    </select>
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">班级：</label>
                                <div class="col-sm-7">
                                    <select name="" id="class" class="form-control">
                                        %for class_info in classes:
                                        <option value="${class_info['id']}">${class_info['sn']}</option>
                                        %endfor
                                    </select>
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">专业：</label>
                                <div class="col-sm-7">
                                    <select name="" id="profession" class="form-control">
                                        %for profession in professions:
                                        <option value="${profession['id']}">${profession['name']}</option>
                                        %endfor
                                    </select>
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">宿舍：</label>
                                <div class="col-sm-7">
                                    <select name="" id="dorm" class="form-control">
                                        %for dorm in dorms:
                                        <option value="${dorm['id']}">${dorm['sn']}</option>
                                        %endfor
                                    </select>
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">出生年月：</label>
                                <div class="col-sm-7">
                                    <input type="date" id="birthday" class="form-control" value="${student_info.get('birthday')}">
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">证件号码：</label>
                                <div class="col-sm-7">
                                    %if student_info.get("id_card"):
                                    <input type="text" class="form-control" id="id_card" placeholder="" value="${student_info.get('id_card')}">
                                    %else:
                                    <input type="text" class="form-control" id="id_card" placeholder="">
                                    %endif
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">电话：</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="phone" placeholder="" value="${student_info.get('phone')}">
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">政治面貌：</label>
                                <div class="col-sm-7">
                                    <select name="" id="politics" class="form-control">
                                        <option value="党员">党员</option>
                                        <option value="团员">团员</option>
                                        <option value="群众">群众</option>
                                    </select>
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">国籍：</label>
                                <div class="col-sm-7">
                                    <select name="" id="country" class="form-control">
                                        %for country in countries:
                                        <option value="${country['cn']}">${country['cn']}</option>
                                        %endfor
                                    </select>
                                </div>
                                <span class="text-danger mt5 fl">*</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-3" for="introduction">民族：</label>
                                <div class="col-sm-7">
                                    <select name="" id="nation" class="form-control">
                                        %for nation in nations:
                                        <option value="${nation['value']}">${nation['value']}</option>
                                        %endfor
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">籍贯：</label>
                                <div class="col-sm-7">
                                    <input type="text" id="hometown" class="form-control" value="${student_info.get('hometown')}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">父亲电话：</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="father_phone" placeholder="" value="${student_info.get('father_phone')}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">母亲电话：</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="mother_phone" placeholder="" value="${student_info.get('mother_phone')}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">家庭住址：</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="address" placeholder="" value="${student_info.get('address')}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">qq：</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="qq" placeholder="" value="${student_info.get('qq')}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">邮箱：</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="email" placeholder="" value="${student_info.get('email')}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-7 col-sm-offset-3">
                                    <input type="button" class="king-btn king-success mr10"
                                           onclick="studentAddSubmit()" value="提交"/>
                                    <input type="reset" class="king-btn king-default" onclick="backToStudentList()"
                                           value="取消"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function backToStudentList() {
        window.location.href = site_url
    }

    function studentAddSubmit() {
        $.ajax({
            url: site_url + 'student/add/save/',
            type: 'POST',
            data: {
                name: $("#name").val().trim(),
                sn: $("#sn").val().trim(),
                sex: $("#sex").val(),
                classInfo: $("#class").val(),
                profession: $("#profession").val(),
                dorm: $("#dorm").val(),
                birthday: $("#birthday").val(),
                idCard: $("#iud_card").val(),
                phone: $("#phone").val().trim(),
                politics: $("#politics").val(),
                country: $("#country").val(),
                nation: $("#nation").val(),
                hometown: $("#hometown").val().trim(),
                father_phone: $("#father_phone").val().trim(),
                mother_phone: $("#mother_phone").val().trim(),
                address: $("#address").val().trim(),
                qq: $("#qq").val().trim(),
                email: $("#email").val().trim()
            },
            success: function (res) {
                window.location.href = site_url
            }
        })
    }

</script>
</%block>

